@import "tailwindcss";
@import "tw-animate-css";

@import "prismjs/themes/prism-tomorrow.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --default-font-family: var(--primary-font-family);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-black: 900;
  --font-bold: 700;
  --font-medium: 500;
  --font-regular: 400;
  --primary-font-family: Pretendard;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@utility display01B {
  font-weight: var(--font-bold);
  font-size: 72px;
  line-height: 150%;
  letter-spacing: -1.5px;
}
@utility display01M {
  font-weight: var(--font-medium);
  font-size: 72px;
  line-height: 150%;
  letter-spacing: -1.5px;
}
@utility display02B {
  font-weight: var(--font-bold);
  font-size: 64px;
  line-height: 150%;
  letter-spacing: -1px;
}
@utility display02M {
  font-weight: var(--font-medium);
  font-size: 64px;
  line-height: 150%;
  letter-spacing: -1px;
}
@utility display03B {
  font-weight: var(--font-bold);
  font-size: 48px;
  line-height: 150%;
  letter-spacing: -1px;
}
@utility display03BL {
  font-weight: var(--font-black);
  font-size: 48px;
  line-height: 150%;
  letter-spacing: -0.5px;
}
@utility display03M {
  font-weight: var(--font-medium);
  font-size: 48px;
  line-height: 150%;
  letter-spacing: -0.5px;
}
@utility heading01B {
  font-weight: var(--font-bold);
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility heading01M {
  font-weight: var(--font-medium);
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility heading01R {
  font-weight: var(--font-regular);
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility heading02B {
  font-weight: var(--font-bold);
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility heading02M {
  font-weight: var(--font-medium);
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility heading02R {
  font-weight: var(--font-regular);
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility heading03B {
  font-weight: var(--font-bold);
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility heading03M {
  font-weight: var(--font-medium);
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility heading03R {
  font-weight: var(--font-regular);
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility heading04B {
  font-weight: var(--font-bold);
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility heading04M {
  font-weight: var(--font-medium);
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility heading04R {
  font-weight: var(--font-regular);
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility body01B {
  font-weight: var(--font-bold);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility body01M {
  font-weight: var(--font-medium);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility body01R {
  font-weight: var(--font-regular);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility body02B {
  font-weight: var(--font-bold);
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility body02M {
  font-weight: var(--font-medium);
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility body02R {
  font-weight: var(--font-regular);
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility body03B {
  font-weight: var(--font-bold);
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility body03M {
  font-weight: var(--font-medium);
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility body03R {
  font-weight: var(--font-regular);
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility body04B {
  font-weight: var(--font-bold);
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility body04M {
  font-weight: var(--font-medium);
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility body04R {
  font-weight: var(--font-regular);
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0px;
}
@utility body05R {
  font-weight: var(--font-regular);
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0px;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/**/
